@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP NET CORE 6</h1>
    <p>Learn ASPT.NET Core and Entity Framework by building and publishing a practical Employee Leave Management System</a>.</p>
</div>
