@model LeaveTypeVM

@{
    ViewData["Title"] = "Create";
}

<h2>Create Leave Type</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <a asp-action="Index" class="btn btn-sm btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Create" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

