html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px;
    }

  .btn {
        width: 100px;
        height: 30px;
    }

    .allocateBtn {
        width: 120px;
        height: 30px;
    }

    .allocationBtn {
        width: 120px;
        height: 30px;
    }

    .viewallocationBtn {
        width: 220px;
        height: 40px;
        text-align:justify-all;
    }

